#loginRedirect {
  cursor: pointer;
  /* Set the default cursor style */
  text-decoration: none;
  /* Underline the text by default */

}

#loginRedirect:hover {
  color: #673ab7;
}

#loginRedirect:active {
  color: #542e94;
  font-weight: 550;

}

.container {
  background-color: rgb(241, 241, 241);
  border: .5px;
  border-style: solid;
  border-color: rgb(219, 224, 224);

}

.icon-text-container {
  display: inline-flex;
  align-items: center;
}

.icon-text-container mat-icon {
  font-size: 22px;
}