<div class="container px-4">
    <div class="px-4 m-4">
      <img
        src="assets/logo.png"
        alt="BGLL Logo"
        class="mb-3"
        style="width: 200px; height: auto"
      />
      <h2 class="text-center">Reset Password</h2>
      @if (successMessage) {
        <div class="p-2 text-center alert alert-danger">{{ successMessage }}</div>
      }
      <!-- reset form -->
      <form [formGroup]="resetForm">
        <div class="mb-1">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              id="email"
              name="email"
              placeholder="Enter Email Address"
              formControlName="email"
              required
            />
          </mat-form-field>
        </div>
            
        <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
          <button mat-raised-button color="primary" (click)="onConfirmClicked()" >
            Confirm
          </button>
        </div>

        <div class="row pt-3 text-center">
          <a id="loginRedirect" (click)="BackToLogin()">Login</a>
        </div>
      </form>
    </div>
  </div>
  