
#loginRedirect {
    cursor: pointer; /* Set the default cursor style */
    text-decoration: none; /* Underline the text by default */

  }
  
  #loginRedirect:hover {
    color: #673ab7;
  }

  #loginRedirect:active{
    color: #542e94;
    font-weight: 550;

  }