<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid mx-2">
    <div class="">
      <a routerLink="/dashboard" class="navbar-brand">
        <img
          src="assets/logo.png"
          alt="BGLL Logo"
          style="width: 70px; height: auto"
        />
      </a>
    </div>
    <div class="pt-2 d-none d-sm-block">
      <a id="PageLable" routerLink="/dashboard" class="navbar-brand">
        <h2 class="m-2">Website Update Portal</h2>
      </a>
    </div>
    <div class="">
      <a href="/login" class="navbar-brand">
        <button mat-raised-button color="warn" (click)="logout()">
          Logout
        </button>
      </a>
    </div>
  </div>
</nav>
