<mat-dialog-content class="px-4">
  <h2 class="mb-4 text-center">{{ title }}</h2>
  <div class="row">
    <!--Business Name Input-->
    <div class="col">
      <mat-form-field>
        <mat-label>Enter Business Name</mat-label>
        <input matInput placeholder="Business Name" />
      </mat-form-field>
    </div>
    <!--Address Input-->
    <div class="col">
      <mat-form-field>
        <mat-label>Enter Address</mat-label>
        <input matInput placeholder="Address" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <!--Community Selector-->
    <div class="col">
      <mat-form-field>
        <mat-label> Communities </mat-label>
        <input
          type="text"
          placeholder="Enter Community"
          aria-label="Community"
          matInput
          [formControl]="settlementControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          @for (settlement of filteredSettlements | async; track settlement) {
          <mat-option [value]="settlement"> {{ settlement }} </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!--District Selector-->
    <div class="col">
      <mat-form-field>
        <mat-label>Select District</mat-label>
        <mat-select>
          <mat-option value="corozal">Corozal</mat-option>
          <mat-option value="orangewalk">OrangeWalk</mat-option>
          <mat-option value="belize">Belize</mat-option>
          <mat-option value="cayo">Cayo</mat-option>
          <mat-option value="stanncreek">Stann Creek</mat-option>
          <mat-option value="toledo">Toledo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<!--Control Buttons-->
<mat-dialog-actions class="action-buttons mx-4 mb-4">
  <button mat-raised-button color="basic" (click)="Cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="Save()">Save</button>
</mat-dialog-actions>
