.filter-dropdown {
  display: flex;
  justify-content: left;
  float: left;
}

.AddButton {
  display: flex;
  justify-content: right;
  float: right;
}

.inActive {
  color: red;

  mat-icon {
    color: red;
  }
}