<header>
  <nav>
    <!--Nav buttons, unknown and logout-->
    <button id="demo" type="button">Unknown</button>
    <button id="Logout" type="button">LogOut</button>
  </nav>
</header>

<div class="content">
  <!-- Centered content -->
  <div class="grid-container">
    <!-- First grid item -->
    <div class="grid-item">
      <!-- Insert <app-boledo> component content here -->
        <h2>Boledo</h2>
      <app-boledo></app-boledo>
    </div>
    <!-- Second grid item -->
    <div class="grid-item">
      <!-- Insert <app-boledo> component content here -->
        <h2>Lottery</h2>
      <app-lottery></app-lottery>
    </div>
    <!-- Third grid item -->
    <div class="grid-item">
      <!-- Insert <app-boledo> component content here -->
        <h2>Jackpot</h2>
      <app-jackpot></app-jackpot>
    </div>
    <!-- Fourth grid item -->
    <div class="grid-item">
      <!-- Insert <app-boledo> component content here -->
        <h2>Agent</h2>
      <app-agent></app-agent>
    </div>
  </div>
</div>
